.search-bar {
    width: 100%;
    max-width: 45rem;
}
#dropdown-account {
    color: black;
    background-color: unset;
    border-color: unset;
    
}
#dropdown-cart {
    color: black;
    background-color: unset;
    border-color: unset;
}

a {
    &:active {
        background-color: transparent !important;
    }
}
.dropdown-item {
    
}

